@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html{
    scroll-behavior: smooth;
}
* {margin:0; padding:0}

/* Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000
font-family: 'Roboto', sans-serif;
*/
body {
    font-size: 18px;
}
header {
    height: 85vh;
    background: url(../img/ilustracion_people.png) right/contain scroll no-repeat,url(../img/ilustracion1.png) right/contain scroll no-repeat;
}
.Logo {
    padding: 2% 0 0 3%;
    width: 54px;
    position: fixed;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    color: #0b0c17;
    padding: 35vh 40% 0 5%;
}
header h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 2% 0 0 7%;
}
p 
header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 7%;
}
