@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html{
    scroll-behavior: smooth;
}
* {margin:0; padding:0}

body {
    font-size: 20px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0b0c17;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0b0c17;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    color: #0b0c17;
}
.Logo {
    padding: 30px 0 0 30px;
    width: 54px;
    position: fixed;
}
header h2 {
    font-size: 1.5em;
    padding: 30px 0 0 100px;
}
header p {
    padding-left: 100px;
}
header {
    background: url(../img/ilustracion_people.png) right/contain no-repeat,url(../img/ilustracion1.png) right/contain no-repeat;
    height: 80vh;
}
h1 {
    font-size: 5em;
    line-height: 1.1em;
    padding: 32vh 40% 0 110px;
    text-shadow: -2px 3px 1px white;
}
header span img {
    vertical-align: middle;
}
section p {
    font-size: 1.6em;
    line-height: 1.2em;
    padding: 1em 46% 5vh 110px;
}
header div p{
    padding: 11vh 0 0vh 110px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff3571;
}
#banner img {
    width: 100%;
    margin-top: 40vh;
}
.flexZweiSp {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40vh;
}
.ideaHead {
    width: 40%;
    padding: 0 6% 0 10%;
}
.ideaTxt {
    width: 60%;
    padding-right: 10%;
}
.ideaTxt p {
    font-size: 1em;
    line-height: 2em;
    padding: 0;
}
#after {
    padding: 15% 30% 15% 10%;
}
.box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20vh;
}
.bullet {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 35%;
}
.bullet p {
    font-size: 1em;
    line-height: 2em;
    padding: 0;
    margin-left: 5%;
    padding-top: 6px;
}
.bullet img {
    width: 50px;
}
#center h2 {
    text-align: center;
}
#center p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
#centerDoYouLike {
    padding: 22vh 10% 5vh;
}
#centerDoYouLike h2 {
    text-align: center;
}
#centerDoYouLike p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}




.zweiSp {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    padding-top: 20vh;
}
.halfImgEins {
    background: url(../img/step01.png) top/contain no-repeat;
    width: 35%;
}
.halfImgZwei {
    background: url(../img/step02.png) top/contain no-repeat;
    width: 35%;
}
.halfImgDrei {
    background: url(../img/step03.png) top/contain no-repeat;
    width: 35%;
}
.halfImgVier {
    background: url(../img/step04.png) top/contain no-repeat;
    width: 35%;
}
.halfTxt {
    width: 35%;
}
.halfTxt h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.2);
    padding-bottom: 5vh;
}
.halfTxt p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 2em;
    padding: 0;
    margin: 0;
}
.halfTxt div {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
}
form input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    background: white;
    border: none;
    text-align: center;
    border: 1px solid #ddd;
    padding: 30px 12%;
    border-radius: 8px;
    box-shadow: 0 0 20px #ddd;
}
.button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    margin: 0 auto;
    background: #ff3571;
    border: none;
    text-align: center;
    padding: 30px 12%;
    margin-top: 5vh;
    margin-bottom: 20vh;
    border-radius: 8px;
    box-shadow: 0 0 20px #ddd;
}
.button:hover {
    background-image: linear-gradient(to right, #ff3571 , #3C30FF);
}
footer {
    font-size: 1.2em;
    padding: 0 0 30px 8%;
}
footer img {
    vertical-align: baseline;
}
